.pending{
    background: #ffdc1f;
}
.lost{
    background: "#163A5F";
    color : "#fff" ;
}
.active{
    background: #8C52FF;
     color: "#fff";
}
.ready{
     background: "#45EBA5";
      color: "#fff";
}
.bg-no{
    background: #f5f7fa;
}
.pl-2px{
    padding-left: 2px;
}