.pending {
  background: #ffdc1f;
  box-shadow: none;
  border-radius: 0 !important;
}
.lost {
  background: #163a5f;
  box-shadow: none;
  border-radius: 0 !important;
  color: "#fff";
}
.active {
  background: #8c52ff;
  box-shadow: none;
  border-radius: 0 !important;
  color: "#fff";
}
.ready {
  background: #45eba5;
  color: "#fff";
}
.past {
  background: #ff66c4;
  box-shadow: none;
  border-radius: 0 !important;
  color: "#fff";
}
.alteration {
  background: #ff914d;
  box-shadow: none;
  border-radius: 0 !important;
  color: "#fff";
}
.overdue {
  background: #ff914d;
  box-shadow: none;
  border-radius: 0 !important;
  color: "#fff";
}
.font-weight-600{
    font-weight: 600;
}
.font-weight-500{
    font-weight: 500;
}
.bg-no {
  background: #f5f7fa;
}
.pl-2px {
  padding-left: 2px;
}
